/* Header */
.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    background-color: var(--bg-1);
    color: var(--color-text);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0 50px;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo a {
    color: var(--color-text);
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

.header .inner-logo span {
    font-size: 25px;
    font-weight: 600;
}

.header .inner-menu ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.inner-menu ul li a {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 17.5px;
    color: var(--color-text);
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 20px;
}

.inner-menu ul li:hover {
    background: white;
}

.inner-menu ul li a:hover {
    color: #9B9B9B;
}

.inner-social ul {
    list-style-type: none;
    display: flex;
}

.inner-social ul li a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 22.4px;
    color: var(--color-text);
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 4px;
}

.header-bar {
    display: none;
}

@media (max-width: 991.98px) {
    .header {
        padding: 8px 8px;
        flex-wrap: wrap;
    }

    .inner-menu {
        display: none;
    }

    .inner-social {
        display: none;
    }

    .header-bar {
        display: block;
        font-size: 26px;
    }
}
/* End Header */

.section-one {
    background-image: url(../images/background1.jpg);
    padding: 150px 0;
    position: relative;
}

.section-one .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.section-one .inner-wrap {
    position: relative;
}

.section-one .inner-wrap .inner-sub-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.section-one .inner-wrap .inner-title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-one .inner-wrap .inner-desc {
    color: var(--bg-2);
    margin-bottom: 30px;
}

.section-one .button {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 991.98px) {
    .section-one .inner-wrap {
        padding: 0 120px;
    }
    
}

@media (max-width: 767.98px) {
    .section-one .inner-wrap {
        text-align: center;
    }

}


/* End Section One */

/* Buttons */
.button {
    color: var(--color-two);
    background: #fff;
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.button-two {
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

.button-two:hover {
    background: #fff;
    border-color: #fff;
}

.button-dark {
    background: var(--color-text);
    color: #fff;
    border-color: var(--color-text);
}

.button-dark:hover {
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

.button-two-outline {
    background: transparent;
    color: #fff;
}

.button-two-outline:hover {
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

/* section two  */

.section-two {
    background-color: var(--bg-1);
    padding: 80px 50px;
}

.section-two .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-two .inner-wrap {
    display: inline-flex;
    flex-wrap: wrap;
}

.section-two .inner-wrap .inner-img {
    width: 40%;
    margin-right: 5%;
}

.section-two .inner-wrap .inner-img img {
    border-radius: 8px;
    height: auto;
    width: 100%;
}

.section-two .inner-wrap .inner-content {
    flex: 1;
}

.section-two .inner-wrap .inner-content .inner-sub-title {
    font-size: 20px;
    color: #777777
}

.section-two .inner-wrap .inner-title {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
}

.section-two .inner-wrap .inner-list {
    display: flex;
    flex-wrap: wrap;
}

.section-two .inner-wrap .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    margin-right: 20px;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;

}

.section-two .inner-wrap .inner-item i {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--color-one);
}

.section-two .inner-wrap .inner-item span {
    font-weight: 600;
}

.section-two .inner-wrap .inner-desc {
    color: #777777
}

@media (max-width: 991.98px) {
    .section-two .inner-wrap .inner-img {
        width: 100%;
        margin-right: 0;
    }
    .section-two .inner-wrap .inner-content {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .section-two .inner-wrap .inner-content .inner-sub-title {
        width: 100%;
        text-align: center;
    }
    .section-two .inner-wrap .inner-content .inner-title {
        width: 100%;
        text-align: center;
        font-size: 48px;
    }
    .section-two .inner-wrap .inner-list {
        justify-content: center;
    }
    .section-two .inner-wrap .inner-content .inner-desc {
        text-align: center;
    }
    .section-two .inner-wrap .inner-content .inner-button {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .section-two .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-two .container {
        max-width: 1140px;
    }
}
/* end section two  */

/* section three  */
.section-three {
    background-color: var(--bg-1);
    padding-top: 100px;
    padding-bottom: 100px;
}


.section-three .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-three .inner-wrap .inner-content .inner-sub-title {
    margin-top:  0;
    color: #777777;
}

.section-three .inner-wrap {
    background-color: white;
    display: inline-flex;
    padding: 40px;
    border-radius: 8px;
}

.section-three .inner-img {
    width: 33%;
    position: relative;
    margin-left: 50px;
}
  
.section-three .inner-img img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    position: absolute;
    bottom: -40px;
}

.section-three .inner-content {
    flex: 1;
}

.section-three .inner-content .inner-title {
    font-size: 68px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 991.98px) {
    .section-three .inner-wrap {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .section-three .inner-content {
        width: 100%;
        margin-right: 0;
    }

    .section-three .inner-img {
        width: 100%;
        display: flex;
        position: static;
        justify-content: center;
    }
    .section-three .inner-img img {
        width: 100%;
        position: static;
    }
}

@media (max-width: 767.98px) {
    .section-three .inner-content .inner-sub-title {
        text-align: center;
        width: 100%;
    }
    .section-three .inner-content .inner-title {
        text-align: center;
        width: 100%;
        font-size: 50px;
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) {
    .section-three .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-three .container {
        max-width: 1140px;
    }
}
/* end section three  */


/* section four  */
.section-four {
    background-color: white;
}

.section-four .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-four .inner-content {
    padding: 80px 0;
}

.section-four .inner-content .inner-title {
    font-size: 25px;
}

.section-four .inner-content .inner-desc {
    color: #777777;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.section-four .inner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-four .inner-item {
    color: #777777;
    height: 60px;
    width: calc(30% - 11px); 
    font-size: 18px;
    position: relative;
    padding: 5px 15px 0;
}

.section-four .inner-list .inner-item::before {
    position: absolute;
    top: -5px;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(239, 239, 239);
    width: 40px;
    height: 40px;
    content: "✓";
    border-radius: 50%; 
}

@media (max-width: 991.98px) {
    .section-four .inner-list {
        flex-wrap: wrap;
        padding-left: 40px;
    }
    .section-four .inner-list .inner-item {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .section-four .inner-content .inner-title {
        text-align: center;
    }
    .section-four .inner-content .inner-desc {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .section-four .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-four .container {
        max-width: 1140px;
    }
}
/* end section four  */

/* section five  */
.section-five {
    background-color: var(--bg-1);
    padding: 60px 0;
}

.section-five .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-five  .inner-title {
    text-align: center;
    font-size: 68px;
}

.section-five .inner-cards {
    display: flex;
    justify-content: center;
   
}

.section-five .inner-cards .inner-item {
    width: calc(100% / 3);
    padding: 0 16px;
    margin-bottom: 32px;
}

.section-five .inner-cards .inner-item-content {
    background-color: white;
    border-radius: 10px;
    position: relative;
} 

.section-five .inner-item img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    height: 300px;
    object-fit: cover;
}

.section-five .inner-item .inner-item-desc {
    padding: 32px 48px;
}

.section-five .inner-item .inner-item-desc .inner-desc {
    color: #777777;
    font-weight: 600;
}

.section-five .inner-item .inner-item-desc .inner-sub-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

.section-five .inner-cards i {
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px #d2c5c5;
    background: white;
    position: absolute;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 275px;
    right: 30px;
    z-index: 1;
}

@media (max-width: 991.98px) {
    .section-five .inner-cards {
        flex-wrap: wrap;
    }
    .section-five .inner-cards .inner-item {
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .section-five .inner-cards .inner-item {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .section-five .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-five .container {
        max-width: 1140px;
    }
}
/* end section five  */

/* section six */

.section-six {
    background-color: #1B2026;
    padding: 100px 0;
}

.section-six .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-six .inner-wrap {
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 50px;
}

.section-six .inner-wrap .inner-content {
    width: 60%;
}

.section-six .inner-wrap .inner-content .inner-title {
    color: #777777;
    margin: 0;
}

.section-six .inner-wrap .inner-content .inner-desc {
    font-size: 60px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 12px;
}

.section-six .inner-wrap .inner-list {
    flex: 1;
    padding: 0 16px;
    margin: 16px 0;
}

.section-six  .inner-list .inner-item {
    border: 1px solid #e8e6e6;
    display: flex;
    margin: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    color: #777777;
    padding: 0 24px;
}

.section-six  .inner-list .inner-item .inner-item-1 {
    display: flex;
    align-items: center;
    width: 70%;
}

.section-six  .inner-list .inner-item .inner-item-1 i {
    font-size: 22px;
    margin-right: 20px;
}

.section-six  .inner-list .inner-item i {
    font-size: 22px;
}

@media (max-width: 991.98px) {

    .section-six .inner-wrap {
        flex-wrap: wrap;
    }
    .section-six .inner-wrap .inner-content {
        width: 100%;
    }
    .section-six .inner-wrap .inner-list {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .section-six .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-six .container {
        max-width: 1140px;
    }
}
/* end section six */

/* section-seven */
.section-seven {
    background-color: var(--bg-1);
    padding: 16px 0px;
}

.section-seven .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-seven .inner-title {
    text-align: center;
    font-size: 18px;
    color: #777777;
}

.section-seven .inner-sub-title {
    text-align: center;
    font-size: 60px;
    margin-top: 0;
}

.section-seven .inner-team {
    display: flex;
    
}

.section-seven .inner-team .inner-team-member {
    display: flex;
    align-items: center;
    width: calc(100% / 4);
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 14px;
    padding-top: 50px;
}

.section-seven .inner-team .inner-team-member .member-img {
    display: flex;
    justify-content: center;
}

.section-seven .inner-team .inner-team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
}

.section-seven .inner-team .inner-team-member .member-info {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.section-seven .inner-team .inner-team-member .member-job {
    font-size: 15px;
    color: #777777;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.section-seven .inner-team .inner-team-member .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}

.section-seven .inner-team .inner-team-member .social-list .inner-social {
    padding: 12px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30% 30% 0 0;
    margin-right: 14px;
    width: 40px;
    height: 40px;
}

.section-seven .inner-team .inner-team-member .social-list .inner-social a {
    color: black;
    text-align: center;
}

@media (max-width: 991.98px) {
    .section-seven .inner-team {
        flex-wrap: wrap;
    }
    .section-seven .inner-team .inner-team-member {
        width: 44%;
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .section-seven .inner-team .inner-team-member {
        width: 44%;
        margin-bottom: 30px;
    }
}

@media (max-width: 575.98px) {
    .section-seven .inner-team .inner-team-member {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .section-seven .inner-team .inner-team-member:last-child {
        margin-bottom: 0;
    }
    .section-seven .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 576px) {
    .section-seven .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-seven .container {
        max-width: 1140px;
    }
}


/* end section-seven */

/* section-8  */
.section-8 {
    background-color: var(--bg-1);
    padding: 80px 0;
}

.section-8 .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-8 .inner-wrap {
    text-align: center;
}

.section-8 .inner-wrap img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: -40px;
}

.section-8 .content-box {
    display: inline-flex;
    background-color: white;
    border-radius: 16px;
    width: 90%;
    text-align: center;
}

.section-8 .content-box .info-list {
    padding: 0;
    display: flex;
    padding: 16px 30px;
    align-items: center;
    width: 100%;
}

.section-8 .content-box .info-list .item {
    padding: 0 15px;    
    display: inline-block;
    width: 20%;
}

.section-8 .content-box .info-list .item h5 {
    color: #777777;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin: 0 0 8px;
}

.section-8 .content-box .info-list .item h6 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 0 0 15px;
}

.section-8 .content-box .info-list .btn {
    height: 60px;
    width: 150px;
    background-color: rgb(36, 36, 36);
    color: white;
    line-height: 1.5;
    border-radius: 5px;
    padding: 16px 32px;
    font-weight: 600;
    cursor: pointer;
}

.section-8 .content-box .info-list .btn:hover {
    background-color: black;
}

@media (max-width: 991.98px) {
    .section-8 .content-box .info-list {
        flex-wrap: wrap;
    }
    .section-8 .content-box .info-list .item{
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .section-8 .content-box .info-list {
        align-items: center;
    }
    .section-8 .content-box .info-list .item{
        width: 100%;
        text-align: center;        
    }
}

@media (min-width: 576px) {
    .section-8 .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-8 .container {
        max-width: 1140px;
    }
}
/* end section-8  */


/* testimonials */
.section-9 {
    background-color: #31363B;
    padding: 70px 0;    
}

.section-9 .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-9 .inner-content {
    margin-bottom: 40px;
}

.section-9 .inner-content .header-5 {
    color: #777777;
    font-size: 18px;
    margin: 0;
}

.section-9 .inner-content .header-2 {
    color: white;
    font-size: 60px;
    margin: 0;
}

.section-9 .feedbacks-box {
    display: flex;
    justify-content: center;
}

.section-9 .feedbacks-box .item {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 14px;
    padding: 40px;
}

.section-9 .feedbacks-box .item .fb-desc {
    color: #777777;
    font-size: 25px;
    text-align: left;
    font-style: italic;
}

.section-9 .feedbacks-box .item .client .client-img img {
    width: 70px;
    height: 70  px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.section-9 .feedbacks-box .item .client {
    padding-top: 40px;
    display: flex;
    align-items: center;
   
}

.section-9 .feedbacks-box .item .client .client-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-9 .feedbacks-box .item .client .client-info h5 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.section-9 .feedbacks-box .item .client .client-info h6 {
    font-size: 15px;
    color: #777777;
    margin: 0;
    padding: 0;
}

.section-9 .feedbacks-box .item .fb-desc {
    position: relative;
}

.section-9 .feedbacks-box .item i {
    color: #777777;
    font-size: 60px;
    position: absolute;
    right: 0;
    bottom: -50px;
}

@media (max-width: 991.98px) {
    .section-9 .feedbacks-box {
        flex-wrap: wrap;
    }
    .section-9 .feedbacks-box .item{
        width: 44%;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {

    .section-9 .feedbacks-box .item{
        width: 100%;
    }
}

@media (min-width: 576px) {
    .section-9 .container {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .section-9 .container {
        max-width: 1140px;
    }
}
/* end testimonials */


/* view action  */
.view-action {
    padding: 70px 0;
    background: var(--bg-2);
}
  
.view-action .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.view-action .inner-wrap {
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
}
  
.view-action .inner-title {
    text-align: center;
    font-size: 40px;
}

.view-action .inner-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.view-action .inner-wrap .inner-button {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
  
.view-action .inner-wrap .inner-button::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
}
  
.view-action .inner-wrap .inner-button i {
    position: relative;
}

@keyframes icons {
    from {
      width: 120px;
      height: 120px;
      opacity: 0.8;
    }
    to {
      width: 160px;
      height: 160px;
      opacity: 0;
    }
}

/* end view action  */

/* Contact Form */

.contact-form {
    padding: 80px 0;
    margin-bottom: 30px;
}
  
.contact-form .container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form .inner-wrap {
    background: var(--bg-2);
    padding: 60px;
    border-radius: 8px;
}
  
.contact-form .inner-form-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form .inner-sub-title {
    color: #777777;
    margin-bottom: 10px;
}
  
.contact-form .inner-title {
    font-size: 40px;
    margin-top: 0px;
}

.contact-form .inner-form-wrap input, .contact-form .inner-form-wrap textarea {
    margin-bottom: 15px;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    outline: 0;
}
  
.contact-form .inner-form-wrap input {
    width: 32.5%;
    height: 50px;
}
  
.contact-form .inner-form-wrap textarea {
    width: 100%;
    height: 150px;
}

.contact-form .inner-button {
    text-align: right;
}
  
@media (max-width: 991.98px) {
    .contact-form .inner-form-wrap input {
      width: 100%;
    }
}
  
@media (max-width: 575.98px) {
    .contact-form .inner-wrap {
      padding: 25px;
    }
}
/* End Contact Form */

/* footer */
footer {
    background-color: #14191E;
    padding: 30px 0;
}

footer p {
    text-align: center;
    color: white;
    font-size: 18px;
}
/* end footer */
